[submodule "vim-gitgutter"]
	path = vim_config/vim/pack/plugins/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-javascript"]
	path = vim_config/vim/pack/plugins/opt/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
